<footer class="py-4" style= "background-color:rgb(33, 37, 41);border-color: rgb(33, 37, 41); color:cornsilk;text-align: center;">
    <div class="container-fluid" style="text-align: center;">
        <div class="d-flex align-items-center justify-content-between small" style= "background-color:rgb(33, 37, 41);text-align: center;border-color: rgb(33, 37, 41); color:cornsilk;">
            <div class="text-muted">Cristopher Pineda Vicencio | Christopher Miguel Ortega-Garcia | Bryan Hernandez Alfaro | <b> Emanuel Castillo López </b></div>
        </div>
    </div>
</footer>
</div>
</div>

</body>

</html>