<%- include('header'); -%>

<div id="layoutSidenav_content">
    <div class="container-fluid">

        <form method="post" id= "myForm" onsubmit="return doPost(this);">
            <div class="form-group">
                <label>Titulo del post</label>
                <input name="title" class="form-control" placeholder="Titulo" required/>
            </div>
            <div class="form-group">
                <input name="image" value = "kill" id= "image" class="form-control" placeholder="Im" type="hidden"/>
                <input name="user" value = "<%= user %>" class="form-control" type="hidden"/>
            </div>

            <!-- The second value will be selected initially -->
            <div class="form-group">
                <br>
                <label>Municipio que mejor describe la ubicación de la vivienda: </label>
                <select name="municipio">
                    <option value="Guadalajara" selected>Guadalajara</option>
                    <option value="Tlajomulco de Zuñiga">Tlajomulco de Zuñiga</option>
                    <option value="Zapopan">Zapopan</option>
                    <option value="Tonalá">Tonalá</option>
                    <option value="El Salto">El Salto</option>
                    <option value="Tlaquepaque">Tlaquepaque</option>
                </select>
            </div>


            <br>
            <!-- Button trigger modal -->
            <button class = "btn btn-primary" data-bs-toggle = "modal" data-bs-target = "#myModal" type="button">
                Subir imagen de la propiedad
            </button>
            

            <div class="form-group">
                <br>
                <label>Precio</label>
                <input type="number" name="price" class="form-control" placeholder="Precio" min="0" required>
            </div>
            <div class="form-group">
                <br>
                <label>Descripcion de la propiedad</label>
                <textarea name="description" class="form-control" placeholder="Descripcion" style="white-space: pre-line;"></textarea>
            </div>
            <br>
            <div class="card-header3">
                <label for="x">Coordenada X: </label>
                <input type="number" name="x"  placeholder="X" id="x" style="width:100px" step="any">
                <label for="y">Coordenada Y: </label>
                <input type="number" name="y"  placeholder="Y" id="y" style="width:100px" step="any">
                <br>
                <label for="rooms">Cantidad de habitaciones: </label>
                <input type="number" name="rooms"  placeholder="Cantidad" id="rooms" style="width:100px" value="0" min="0" required>
                <br>
                <label for="fullBathrooms">Cantidad de baños completos: </label>
                <input type="number" name="fullBathrooms"  placeholder="Cantidad" id="fullBathrooms" style="width:100px" value="0" min="0" required>
                <br>
                <label for="parking">Espacios para automóviles: </label>
                <input type="number" name="parking"  placeholder="Cantidad" id="parking" style="width:100px" value="0" min="0" required>
                <br>
                <label for="size">Tamaño del terreno: </label>
                <input type="number" name="size"  placeholder="Tamaño" id="size" style="width:100px" min="1" required>
                <br>
                <label for="halfBathrooms">Cantidad de medios baños: </label>
                <input type="number" name="halfBathrooms"  placeholder="Cantidad" id="halfBathrooms" style="width:100px" value="0" min="0" required>
                <br>

                <label>¿Se cuenta con alberca? </label>
                <input type="radio" id="poolYes" name="pool" value=1>
                <label for="poolYes">Si</label>
                <input type="radio" id="poolNo" name="pool" value=0 checked>
                <label for="poolNo">No</label>
                <br>

                <label for="floors">Cantidad de pisos: </label>
                <input type="number" name="floors"  placeholder="Cantidad" id="floors" style="width:100px" value="1" min="1" required>
                <br>

                <label>¿Se encuentra en coto? </label>
                <input type="radio" id="cotoYes" name="coto" value=1>
                <label for="cotoYes">Si</label>
                <input type="radio" id="cotoNo" name="coto" value=0 checked>
                <label for="cotoNo">No</label>
                <br>

                <label for="extraRooms">Cantidad de cuartos adicionales: </label>
                <input type="number" name="extraRooms"  placeholder="Cantidad" id="extraRooms" style="width:100px" value="0" min="0" required>
                <br>

                <label for="balcones">Cantidad de balcones: </label>
                <input type="number" name="balcones"  placeholder="Cantidad" id="balcones" style="width:100px" value="0" min="0" required>
                <br>
                
                <label>¿Se cuenta con terraza? </label>
                <input type="radio" id="terrazaYes" name="terraza" value=1>
                <label for="terrazaYes">Si</label>
                <input type="radio" id="terrazaNo" name="terraza" value=0 checked>
                <label for="terrazaNo">No</label>
                <br>

                <label>¿Se cuenta con cocina equipada? </label>
                <input type="radio" id="cocinaYes" name="cocina" value=1>
                <label for="cocinaYes">Si</label>
                <input type="radio" id="cocinaNo" name="cocina" value=0 checked>
                <label for="cocinaNo">No</label>
                <br>

                <label>¿Se cuenta con jardin? </label>
                <input type="radio" id="jardinYes" name="jardin" value=1>
                <label for="jardinYes">Si</label>
                <input type="radio" id="jardinNo" name="jardin" value=0 checked>
                <label for="jardinNo">No</label>
                <br>

                <label>¿Se cuenta con aire acondicionado? </label>
                <input type="radio" id="aireYes" name="aire" value=1>
                <label for="aireYes">Si</label>
                <input type="radio" id="aireNo" name="aire" value=0 checked>
                <label for="aireNo">No</label>
                <br>
                
            </div>
            <br>
            <br>
            <label>¿Permite que los datos de la casa se usen para el predictor? </label>
            <input type="radio" id="dataYes" name="partOfData" value=1>
            <label for="dataYes">Si</label>
            <input type="radio" id="dataNo" name="partOfData" value=0 checked>
            <label for="dataNo">No</label>
            <br>
            <input type="submit" class="btn btn-info" value="POST" onsubmit="this.disabled=true;load_page('form-id');return false;"/>
            <br>
        </form>

        </script>
    </div>


<!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-bs-dismiss = "modal" aria-hidden = "true">
                  x
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
               Subir imagen
            </h4>
         </div>
         
         <div class = "modal-body">
            <form method="POST" id="formupload" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" class="form-control" id="fileId"/>
                </div>
                <input type="submit" class="btn btn-success" value="Upload" />
            </form>
         </div>
         
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->

<script>
    var imagePath = "";
    var formupload  = "n";
    $("#formupload").on("submit", function (e) {
        e.preventDefault();
        $.ajax({
            url:"/do-upload-image",
            method:"POST",
            data: new FormData(this),
            contentType: false,
            cache:false,
            processData:false,
            success:function(response){
                imagePath = response;
                alert(imagePath);
                $("#myModal").modal("hide");
                $("#myForm").image.value=imagePath;
                $("#image").value=imagePath;
                $("#image")=imagePath;
                $("#image")
            }
        });
    });
</script>
<script>
    function doPost(form) {
        
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        var hh = String(today.getHours());
        var mn = String(today.getMinutes()).padStart(2, "0");
        
        today = dd + '/' + mm + '/' + yyyy + ' ' + hh + ':' + mn;
        var formData = {title: form.title.value, price: form.price.value, description: form.description.value, municipio: form.municipio.value, image: imagePath, time: today, user: form.user.value, x: form.x.value, y: form.y.value, rooms: form.rooms.value, fullBathrooms: form.fullBathrooms.value, parking: form.parking.value, size: form.size.value, halfBathrooms: form.halfBathrooms.value, pool: form.pool.value, floors: form.floors.value, coto: form.coto.value, extraRooms: form.extraRooms.value, 
        balcones: form.balcones.value, terraza: form.terraza.value,  cocina: form.cocina.value, jardin: form.jardin.value, aire: form.aire.value ,partOfData: form.partOfData.value};
        $.ajax({
            
            url: "/admin/posts",
            method: "POST",
            data: formData,
            success: function (response) {
                alert(response.text);
                formData._id = response._id;

                var socket = io();
                socket.emit("new_post", formData);
                document.getElementById("myForm").reset();
                document.getElementById("formupload").reset();
                imagePath="";
            }

        });
        
        return false;
        
    }


</script>
 <%- include('footer'); -%>