<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>EMA - Portal</title>

        <!-- Dependencies: JQuery and GMaps API should be loaded first -->
        <script src="/static/admin/js/jquery-2.1.1.min.js"></script>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2ZMAPPDnBU0VEe5f7pGSPj9121U4BKyA&libraries=visualization&v=weekly"
    
        ></script>

        <!-- CSS and JS for our code -->
        <link rel="stylesheet" type="text/css" href="/static/admin/css/jquery-gmaps-latlon-picker.css"/>
        <script src="/static/user/js/jquery-gmaps-latlon-picker.js"></script>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/userLogIn/img/home.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/user/css/styles.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/5a2b048970.js" crossorigin="anonymous"></script>
        <script src="/static/socket.io.js"></script>
            <!-- Bootstrap core JavaScript-->
            <script src="/static/admin/vendor/jquery/jquery.min.js"></script>
            <script src="/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <!-- Core plugin JavaScript-->
            <script src="/static/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/main">
                    <i class="fas fa-map-marked-alt" style="color:white;"></i>
                    <b>E M A</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" href="/admin/dashboard"><i class="fas fa-user-friends" style="color:white;"></i> <b>Usuarios </b></a></li>
                        <li class="nav-item"><a class="nav-link active" href="https://ema-ia.uc.r.appspot.com/"><i class="fas fa-dollar-sign"  style="color:white;"></i><b> Predictor </b></a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/main"> <i class="fas fa-list-alt"></i> <b>Casas</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light2 border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder2">Bienvenido al portal de bienes raíces EMA</h1>
                    <p class="lead mb-0"><b>Encuentra tu siguiente hogar en Guadalajara</b></p>
                </div>
            </div>
        </header>